@model IEnumerable<CinemaManager.Models.Cinema.Producer>

@{
    ViewData["Title"] = "ProdsAndTheirMovies";
}

<h1>ProdsAndTheirMovies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ProducerName
            </th>
            <th>
                ProducerNationality
            </th>
            <th>
                MovieTitle
            </th>
            <th>
                MovieGenre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
            @foreach(var m in item.Movies)
            {
          
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => m.Titre)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => m.Genre)
                    </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
}
    </tbody>
</table>
